#* @vtlvariable name="item" type="example.dao.entity.Item" *#
#* @vtlvariable name="mode" type="example.EditMode" *#
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    #if ($mode.toString().equals("NEW"))
    <h1>Create new item</h1>
    #else
    <h1>Edit "$item.name"</h1>
    #end
<ul>
    <form action="/save/#if($item.id!=0)$item.id#end" method="POST">
        <table>
            #if ($mode.toString().equals("NEW"))
                <tr>
                    <td>
                        <label for="name">Item name:</label>
                    </td>
                    <td>
                        <input id="name" name="name" type="text" placeholder="Enter name" value=""/>
                    </td>
                </tr>
            #end
            <tr>
                <td>
                    <label for="desription">Item description:</label>
                </td>
                <td>
                    <textarea id="desription" name="description" rows="5" cols="15"
                              placeholder="Enter description">$item.descriptionText</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</ul>
</body>

</html>