#* @vtlvariable name="item" type="example.dao.entity.Item" *#
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Edit "$item.name"</h1>
<ul>
  <form action="/save/$item.id/" method="POST">
      <input type="text" value="$item.descriptionText">
      <button type="submit">Save</button>
  </form>

</ul>
</body>

</html>